ul  {
  list-style-image: url('cerchio.png');

}
.container {
    height: -160px;
    width: 115%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 50%;
}
p
{
font-family:"Courier New";
font-size:20px;
}
h3
{
  font-family:"verdana";
  font-size:50px;
}
h4
{
  font-family:"Courier New";
  font-size:30px;
}
a
{
text-decoration: none;

}
.lista
{
  list-style: decimal;
}
.centarali
{

  height: -440px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.allpass1
{

  height: -440px;
  width: 31.5%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.img
{
  opacity: 0.5;
}
body {
  background-image: url("info.gif");

}
